
 @tailwind base;
@tailwind components;
@tailwind utilities; 


 @layer components {
    .countriesImg {
        @apply rounded h-52 hover:transform hover:scale-110 transition-transform duration-300;
    }
}  


    /* .mapContainer {
        flex: 1;
        height: 100%;
        background-color: var(--color-dark--2);
        position: relative;
      }
      
      .map {
        height: 100%;
      } */
