/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,200&display=swap"); */

 @tailwind base;
@tailwind components;
@tailwind utilities; 


 @layer components {
    .countriesImg {
        @apply rounded h-60 hover:transform hover:scale-110 transition-transform duration-300;
    }
    .btnHeader {
        @apply text-gray-900 text-xl hover:scale-125;
    }
}  

    /* .mapContainer {
        flex: 1;
        height: 100%;
        background-color: var(--color-dark--2);
        position: relative;
      }
      
      .map {
        height: 100%;
      } */
